body {
    background: azure;
    color:#050d2e;
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
font-family: 'Concert One', cursive;
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Serif Display', serif;
font-family: 'Work Sans', sans-serif; 
-webkit-user-select: none; /* Safari */
-ms-user-select: none; /* IE 10 and IE 11 */
user-select: none; /* Standard syntax */
}

p{
    line-height: 22px;
}
.iframe p{
    line-height: 14px;
}
.ul_left{
    left: 14px;
    top: 9px;
    position: absolute;
    font-size: 30px;
}
.ul_right{
    text-align: right;
    color: #e2ffe2;
    right: 104px;
    position:absolute;
}
header{
    top: 0;
    position: fixed;
    margin: 0;
    z-index: 99;
    padding-top:22px;
    padding-bottom: 37px;
    background:#050d2e;
}
header ul{
    width: 100vw;
}
header ul li{
    display: inline;
}
header i{
    padding-right: 14px;
}
li{
    list-style-type: none;
}
/*darkmode*/
.darkmode{
    background:#6EC72D;
    width:96px;
    height:49px;
    top:0;
    right:0;
    position:fixed ;
    text-align:center;
    padding:5px;
    z-index:9999;
}
.darkmodeBtn{
    background:#050d2e;
    padding:16px 28px 16px 28px;
    top:0;
    right:0;
    position: absolute ;
    margin-top:14px;
    margin-right:24px;
    border-radius:15px;   
}
.brightMode{
    padding:16px 28px 16px 28px;
    top:0;
    right:0;
    position: absolute ;
    margin-top:14px;
    margin-right:24px;
    background:azure;
    border-radius:15px;   
}
.circle{
    width:15px;
    height:15px;
    background:azure;
    padding:3.6px;
    border-radius:50%;
    position:absolute;
    margin-top:-11px;
    left:4.5px;
    cursor: pointer;
}
.toggleCirle{
    width:15px;
    height:15px;
    background:#050d2e;
    padding:3.6px;
    border-radius:50%;
    position:absolute;
    margin-top:-11px;
    left:28.5px;
    cursor: pointer;
}
.bodyColorChange{
    background: #050d2e;
    color: #e2ffe2;
}

.myName{
    padding-left:24px;
    width:100vw;
    margin:0;
    top:0;
    color: #e2ffe2;
}

.avatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid grey;
    left: 24px;
    top: 3.5px;
    position: absolute;
}

/* home page styling */
    .homePage{
    clear:;
    margin:0;
    text-align:center;
    width:100vw;
    margin-top:35px;
}
.homePage .intro p{
    margin-top: 30px;
    font-style: ;
    text-align: left;
    margin-left: 24px;
}
.homePage .intro h1{
  font-size: 4rem;
  font-weight: 1000;
  line-height: 30px;
  margin-top: 2px;
  margin-bottom: 8px;
  margin-left: 24px;
}
.homePage .intro h6{
    margin-top: 8px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 24px;
    color: grey;
    font-size: 19px;
}
.social{
    color: #050d2e;
}
.socialChange{
    color: azure;
}
/* updated */
.topContainer{
    margin-bottom:20px;
    width:100vw;
    box-shadow:1.5px 8px 8px 0.1px rgba(0,0,0,0.2); 
}

/**/
.content1, .content2{
    display:inline-block;
    position: relative;
    height:50vh;
} 

.content1{
    width:58vw;
    padding-left: 0;
    margin-left: 0;
}

.subContent1a{
    width:50vw;
}
.subContent1a h1{
    font-size:1.2rem;
    margin-left: 24px;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 0px;
}
.subContent1a p{
    text-align: left;
    margin-left: 24px;
}
.subContent1a .more, .subContent1a .less{
    display: none;
}
.subContent1a button{
    border:none;
    width: 240px;
    font-weight: bold;
    padding: 12px;
    background: #6EC72D;
    color: #e2ffe2;
    border-radius: 5px;
    box-shadow:1.5px 8px 8px 0.1px rgba(0,0,0,0.2); 
}
.subContent1a button:hover{
    background: #050d2e;
    color: #6EC72D;
    border-bottom: 0.5px solid #6EC72D;
}
.content2{
    width:37vw;
    margin-right: 24px;
}
.content2 iframe{
    width:35vw;
    margin:0;
    padding:0;
}
.Content2 h3{
    padding-top: 25px;
    margin-bottom:0;
}
iframe{
    border: none;
    height: 332px;
}

.box1{
    width:26vw;
}
.box2{
    width:34vw;
}
.box3{
    width:37vw; 
}

.box1, .box2, .box3{
    display:inline-block;
    margin-top: 0;
}
.box1 p{
    text-align: left;
    margin-left: 12px;
    font-size: 40px;
    font-weight: 1000px;
    line-height: 55px;
}
.box1 .arrow{
    font-weight: bold;
    font-size: 30px;
}
.box3 .social{
    display: none;
}
.topContainer .social, .box3 .social, .box3b #social{
    padding: 8px;
    width: 32px;
    text-align: center;
    font-size: 25px;
    height: 32px;
    border-radius: 50%;
    margin: 8px;
    box-shadow:1.5px 8px 8px 0.1px rgba(0,0,0,0.2); 
    cursor: pointer;
}
.topContainer .iconC{
    margin-top: 100px;
}
.topContainer .social:hover, .box3 .social:hover,
.box3b #social:hover{
    background: #6EC72D;
    color: azure;
}

@media(max-width:756px){
body{
    width:100vw;
}
header{
    border-bottom: 0.5px solid #6EC72D;
}

.darkmode{
    width:70px;
}

.darkmodeBtn{
    margin-right:12px;
}   

.myName{
    padding-left: 12px;
    font-weight: 1000;
}

.avatar img{
    left: 60px;
}

.homePage{
        text-align: center;
        position:fixed;
        margin-top:60px; /* update */
}

.homePage .intro p,
.homePage .intro h1,
.homePage .intro h6{
    margin-left: 12px;
    text-align: left;
}

.homePage .intro h1{
     font-size: 40.5px;
     margin-bottom: 3px;
 }
 
.homePage .intro h6{
     font-size: 12px;
     margin-top: 2px;
 }

.homePage .intro p{
    margin-bottom: -10px;
}

.topContainer{
    box-shadow: none; 
}

.topContainer .social{
    display:none;
}

.content1,.content2{
    display:block;
    width:100vw;
    border:none;
}
.content1{
    height:30vh;
    z-index: 9999;
    background: none;
}
.content2{
height:54vh;
top: 36vh;
bottom: 0;
margin-bottom: 0px;
margin: 0;
position: absolute;
background:-webkit-linear-gradient(top, transparent, #26292e);
background:-moz-linear-gradient(top, transparent, #26292e);
border-radius:30px 30px 0px 0px;
}
.subContent1a{
    width: 100vw;
}
.subContent1a h1{
    padding-top: 14px;
}
.subContent1a h1, .subContent1a p{
    margin-left:10px;
    margin-right: 10px;
}

.subContent1a .more, .subContent1a .less{
    display: inline-block;
    padding-left: px;
    padding-right: px;
    color: #6EC72D;
}
.subContent1a .more:hover, .subContent1a .less:hover{
    background: rgba(0,0,0,0.1);
}
.subContent1a h1{
    font-size: 1.2rem;
    margin-left: 10px;
}
.subContent1a button{
    margin-top: -5px;
    margin-bottom: 3px;
}
.subContent1b{
    display: none;
}
.content2 h3{
display: none;
}
.Content2 p{
    display: none;
}
.box1, .box2, .box3{
    display:none;
}
.box3{
    width: 100vw;
    position: absolute;
    top: 55vh;
    text-align: center;
}
.box3 .social{
    display: inline-block;
}
.box3b{
    display: none;
}

#shorts{
    margin-top: 0;
}
.content2 iframe{
    width:94.5vw;
    height:54vh;
    margin:0;
    padding:0;
}

.hidden{
    display: none;
}

}


