/*new Portfolio*/

body {

  font-family: "Open Sans", sans-serif;
  background: #0B0742;
  color: #fff;
  
  
  background: azure;
    color:#050d2e;
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
font-family: 'Concert One', cursive;
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Serif Display', serif;
font-family: 'Work Sans', sans-serif; 
/*-webkit-user-select: none; /* Safari */

/*-ms-user-select: none; /* IE 10 and IE 11 */
/*user-select: none; /* Standard syntax */

}

/*darkmode*/
.darkmode{
    background:#6EC72D;
    width:96px;
    height:49px;
    top:0;
    right:0;
    position:fixed ;
    text-align:center;
    padding:5px;
    z-index:9999;
}
.darkmodeBtn{
    background:#050d2e;
    padding:16px 28px 16px 28px;
    top:0;
    right:0;
    position: absolute ;
    margin-top:14px;
    margin-right:24px;
    border-radius:15px;   
}
.brightMode{
    padding:16px 28px 16px 28px;
    top:0;
    right:0;
    position: absolute ;
    margin-top:14px;
    margin-right:24px;
    background:azure;
    border-radius:15px;   
}
.circle{
    width:15px;
    height:15px;
    background:azure;
    padding:3.6px;
    border-radius:50%;
    position:absolute;
    margin-top:-11px;
    left:4.5px;
    
}
.toggleCirle{
    width:15px;
    height:15px;
    background:#050d2e;
    padding:3.6px;
    border-radius:50%;
    position:absolute;
    margin-top:-11px;
    left:28.5px;
    
}
.bodyColorChange{
    background: #050d2e;
    color: #e2ffe2;
}

/* end darkmode*/

a {
  color: #5E72EB;
  text-decoration: none;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}


/* header styling */
.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #0B0742;
  overflow-y: auto;
}
.header .nav-layout{
    background: #0B0742;
    text-align: left;
}
.header .nav-layout img {
  margin: 15px auto;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #2F3A56;
  border-radius: 50%;
  
}
.header .nav-layout .profileImg{
    float: left;
    font-size: 24px;
  font-weight: bold;
  color: #fff;
  height: 40px;
  margin-bottom: 30px;
  padding-left: 20px;
}


.header .nav-layout h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

.header .nav-layout h1 a,
.header .nav-layout h1 a:hover {
  color: #;
  text-decoration: none;
}

.header .nav-layout .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2F3A56;
background: azure;
  color: #;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.header .nav-layout .social-links a:hover {
  background: #5E72EB;
background: azure;
  color: #;
  text-decoration: none;
}

/* whatsapp chat styling */
.chat {
  position: fixed;
  bottom: 15px;
  left: 11px;
  z-index: 9999;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  transition: all 0.4s;
}

.chat i {
  font-size: 40px;
  color: green;
  line-height: 0;
  font-weight: bold;
}
.chat.active {

  visibility: visible;

  opacity: 1;
}

/**/

/* back to top styling */
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 9999;
  background: #5E72EB;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 14px;
  color: #fff;
  line-height: 0;
  font-weight: bold;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* homeBG styling */
#homeBG {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
background: azure;
color:#050d2e;
}

#homeBG:before {
  content: "";
background: rgba(1, 2, 5, 0.1);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#homeBG .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}
#homeBG .devIntro{
    text-align: left;
}
#homeBG h4 {
  margin: 0 0 10px 0;
  font-size: 50px;
  font-weight: 1000;
  line-height: 20px;
  color: #5E72EB;
  text-align: left;
}

#homeBG p {
  color: #;
  margin-bottom: px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-align: left;
}

#homeBG p span {
  color: #;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #5E72EB;
}
#homeBG .tik{
    font-weight: bold;
    color:red;
    color: rgba(10, 6, 0, 0.3);
    font-size: 15.4px;
}

#homeBG .nft_btn{
    background: #5E72EB;
  border: none;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
  z-index: 50;
  left: 11px;
  width: 250px;
  font-size: 14px;
  font-weight: bold;
}

#homeBG .nft_btn a{
    color: #fff;
    text-decoration: none;
}
#homeBG .iClass i{
    font-size: 33px;
    padding: 8px;
}
#homeBG .twitter, #homeBG .github, #homeBG .instagram, #homeBG .whatsapp{
    background: rgba(10, 6, 0, 0.03);
    border-radius: 50%;
}


@media (min-width: 1024px) {
  #homeBG {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #homeBG h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #homeBG h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
/* tutor styling */
.tutor-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 200px;
}

.tutor-img{
    border-radius: 50%;
    margin-left: 0;
    width: 100%;
}

/**/

/* home item styling */
.home-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
  margin-top: 30px;
  background: rgba(10, 26, 30, 0.3);
  border-radius: 6px;
}
.home-item details{
    border-radius: 0px 0px 6px 6px;
}
.home-item summary, .home-item details{
    background: red;
}
.home-item summary{
    border: none; /* not working*/
    font-weight: bold;
    padding: 8px;
}

.home-item details p, .obj{
margin: 0;
padding: 0;
font-size: 16px;
text-align: left;
margin-left: 18px;
margin-right: 18px;
}

.home-item details .obj{
font-style: normal;
font-size: 14px;
font-weight: bold;
}

.home-item ul li{
 color: #ffffff;
}
.home-item h6{
    color: #ffffff;
    padding: 8px 0px 0px 0px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    font-weight: 650;
    margin-bottom: 0;
}
.home-item p {
  margin: 0 15px 15px 15px;
  padding: 4px;
  background: transparent;
  position: relative;
  margin-bottom: 35px;
  border-radius: 6px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  font-size: 0.6rem;
  color: #f0f0f0;
  font-weight: bold;
}
.home-item .demo{
    text-align: right;
    position: absolute;
    right: 25px;
    bottom: 15px;
    background: #5E72EB;
    border-radius: 10px;
    padding: 3px 10px 3px 10px;
}
.home-item .demo a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}
.intro{
    text-align: center;
    color: ;
}
.offer{
    margin-top: -45px;
}

.home-img{
    border-radius: 5px;
}

.-item p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
}

/* main styling */

li{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
  color: #5E72EB_;
}
section {
  padding: 60px 0;
  overflow: hidden;
}

.web-inner {
  background: #ffeffe;
}

.subTitle{
  padding-bottom: 20px;
}

.subTitle h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-weight: 300;
}

.subTitle h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: #;
  
  border: 1px solid #5E72EB;
  bottom: 0;
  left: 0;
}

.subTitle p {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .header {
    left: -300px;
  }

  .main {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 30px 0 0 0;
  margin-bottom: -20px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
  padding: 10px;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #f0f0f0;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  text-decoration: none;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #f0f0f0;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: #5E72EB;
}

/* Mobile Nav */
.toggle-bar {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9999;
  border: 0;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.4s;
  outline: none !important;
  background-color: #5E72EB;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 5px;
  cursor: pointer;
}
.name{
 position: fixed;
  left: 11px;
  top: 15px;
  z-index: 100;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  height: 40px;
  line-height: ;
}
.name img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #333;
}
.active-bar {
  overflow: hidden;
}

.active-bar .header {
  left: 0;
}







/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about{
    background: #2F3A56 ;
background: azure;
    color: #f0f0f0_;
}
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #f0f0f0_;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #f0f0f0_;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about h4{
color: #5E72EB;
}

#courseBG {
  width: 100%;
  height: 55vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
}
#courseBG ul, .objContainer{
    text-align: left;
    display: inline-block;
}

.courses{
    background: #0B0742;
background: azure;
    color: #f0f0f0_;
}



/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts {
  padding-bottom: 30px;
  background: #0B0742;
background: azure;
  color: #f0f0f0_;
}

.facts .count-box {
  padding: 30px;
  width: 100%;
}

.facts .count-box i {
  display: block;
  font-size: 44px;
  color: #f0f0f0_;
  float: left;
  line-height: 0;
}

.facts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #f0f0f0_;
  margin-left: 60px;
}

.facts .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #f0f0f0_;
}

.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #f0f0f0_;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.facts .count-box a:hover {
  color: #f0f0f0_;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.portfolio{ /* by me */
    background: #2F3A56;
    color: #f0f0f0;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #5E72EB;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: #5E72EB;
  transition: 0.3s;
  width: 50%;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: rgba(20, 157, 221, 0.95);
}

.portfolio .portfolio-wrap .portfolio-links a+a {
  border-left: 1px solid #37b3ed;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #5E72EB;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #5E72EB;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}




/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.itl{
    font-style: italic;
}
.connect {
  padding-bottom: 130px;
  background: #2F3A56;
background: azure;
  color: #f0f0f0_;
}

.connect .info {
  padding: 30px;
  background: #f0f0f0;
background: azure;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.connect .info i {
  font-size: 20px;
  color: #5E72EB_;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
background: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.connect .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #2F3A56_;
}

.connect .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c_;
}

.connect .info .email p {
  padding-top: 5px;
}

.connect .info .social-links {
  padding-left: 60px;
}

.connect .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff_;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.connect .info .social-links a:hover {
  background: #5E72EB;
  
  color: #fff;
}

.connect .info .email:hover i,
.connect .info .address:hover i,
.connect .info .phone:hover i {
  background: #5E72EB;
  color: #fff;
}

.connect .form-details{
  width: 100%;
  padding: 30px;
  background: #f0f0f0;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.connect .form-details .form-info {
  padding-bottom: 8px;
  margin-bottom: 15px;
}

.connect .form-details label {
  padding-bottom: 8px;
  color: #5E72EB;
}

.connect .form-details input,
.connect .form-details textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  color:#5E72EB;
}

.connect .form-details input {
  height: 44px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #5E72EB;
}

.connect .form-details textarea {
  background: transparent;
  border: 1px solid #5E72EB;
  color: #5E72EB;
}

.connect .form-details button[type=submit] {
  background: #5E72EB;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.connect .form-details button[type=submit]:hover {
  background: #5E72EB;
}

/* added by me */

::placeholder{
    color:#37b3ed;
}
:-ms-input-placeholder{
     color:#37b3ed;
}

::-ms-input-placeholder{
     color:#37b3ed;
}

/**/

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dev {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #0B0742;
  opacity: 0.8; /* by me */
}

.dev .txt {
  padding: 5px 5px 18px 5px;
  text-align: center;
  font-size: 12px;
  color: #eaebf0;
}

.dev a {
    text-decoration: none;
    color: #5E72EB;
}

.homeBottom{
    padding: 30px;
    background: #2F3A56;
}
@media (max-width: 1199px) {

}
